/* TODO:
    * align sidebar and trending items
    * modal on project view with pic of it
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.7fr 2fr 1fr;
}

.container > * {
  padding: 20px;
}

.container img {
  max-width: 50px;
  max-height: 50px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-column: 2 / 4;
  background-color: rgb(240, 245, 247);
}

.search-bar {
  display: flex;
  align-items: center;
}

input {
  background-color: gainsboro;
  border: none;
  height: 25px;
  border-radius: 5px;
}

.search-bar img {
  max-width: 15px;
  max-height: 15px;
  margin-right: 10px;
}

.search-bar input {
  width: 400px;
}

.user-name {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 3fr; 
}

.user-name img:first-child {
  max-width: 20px;
  max-height: 20px
}

.user-name p {
  display: inline;
}

.greet-con {
  display: flex;
  align-items: center;
} 

.greet-con  img {
  max-width: 60px;
  max-height: 60px;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10px;
}

/* .greet-con p:nth-child(2) {
  display: inline;
} */

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.buttons button {
  border: none;
  border-radius: 7px;
  width: 100px;
  height: 30px;
  font-size: 0.8rem;
  margin-right: 30px;
  background-color: rgb(114, 192, 205);
  color: rgb(255, 255, 255);
}

.sidebar {
  grid-row: 1 / 4;
  background-color: rgb(137, 172, 172);
  padding: 20px;
}

.sidebar-logo {
  display: grid;
  grid-template-columns: 1fr repeat(1, 2fr);
  align-items: center;
}

#logo {
  max-width: 50px;
  max-height: 50px;
}

.sidebar p {
  display: inline;
}

.sidebar img {
  max-width: 20px;
  max-height: 20px;
}

.side-list-1,
.side-list-2 {
  margin-top: 50px;
}

.item {
  margin-bottom: 15px;
  display:grid;
  grid-template-columns: 0.1fr 1fr;
} 

.item p {
  margin-left: 15px;
  transform: translateY(-13);
}

.projects {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-row: 2 / 3; */
  grid-column: 2 / 3;
  gap: 15px;
}

.projects-title {
  grid-column: 1 / 3;
}

.project {
  padding: 30px;
  width: 350px; /* provisional */
  height: 200px;
  border: 1px solid red;
}

/* .right-side {
  grid-row: 2 / 3;
  grid-column: 3;
} */

.projects,
.right-side {
  background-color: aliceblue;
}

.announcements {
  display: grid;
  /* grid-template-rows: 0.14fr repeat(3, 0.9fr); */
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-column: 3; */
  /* grid-row: 2; */
}

.announcements-title {
  height: fit-content;
  margin-bottom: 25px;
} 

.announcement {
  height: fit-content;
  padding: 30px;
  border: solid 1px red;
}

.trending {
  margin-top: 50px;
  grid-row: 3 / 4;
  grid-column: 3;
}

.trending p:first-child {
  margin-bottom: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* height: fit-content; */
}

.profile p {
  transform: translateY(7px);
}

.profile p:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  transform: translateY(-25px);
}
/* .item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

/* .trending img {
  max-width: 50px;
  max-height: 50px;
} */